{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "TechnoRide Constructor" %}{% endblock title %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'home/css/main.css' %}">
{% endblock styles %}

{% block main %}
<div class="container d-flex flex-column align-items-center text-center my-3 my-lg-4">
	{% with updates.first as last_update %}
		{% if last_update %}
			<div class="d-flex align-items-center mb-2">
				<span class="text-secondary me-2">{% trans "Новое обновление:" %}</span>
				<a class="btn btn-new-update rounded-3 fw-semibold px-2 py-1" href="{% url 'update' last_update.id %}">{{ last_update.version }}</a>
			</div>
		{% endif %}
	{% endwith %}
</div>
{% endblock main %}